@import url("./src/styles/header.css");
@import url("./src/styles/banner.css");
@import url("./src/styles/places.css");
@import url("./src/styles/info.css");
@import url("./src/styles/start-trip.css");
@import url("./src/styles/footer.css");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

:root {
  --black: #000000;
  --black-transparent75: #00000075;
  --black-transparent35: #00000035;
  --white: #ffffff;
  --white-page: #fefbf6;
  --red: #c62828;
  --blue: #1565c0;
  --grey: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  background-color: var(--white-page);
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Jura", sans-serif;
}
.logo::first-letter {
  color: var(--red);
  font-weight: 800;
}
