.info-section {
  background-color: var(--red);
  padding: 0.5rem 0 7rem 0;
}

.info-card {
  width: 20%;
}

.info-card > i {
  color: var(--red);
}

.tooltip-ctn {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-ctn .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -100px; /* Use half of the width (100px), to center it */
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-ctn .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip-ctn */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-ctn:hover > i {
  color: var(--black);
}
.tooltip-ctn:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
