.start_trip-section {
  position: relative;
}
.start_trip-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-transparent35);
}

.start-trip_text-ctn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.start-trip_title {
  font-size: 3.3rem;
}

@media screen and (max-width: 775px) {
  .start-trip_title {
    font-size: 2.2rem !important;
    margin-bottom: 1.5rem !important;
  }

  .start-trip_text-ctn > a {
    padding: 0.5rem 3rem;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 2300px) {
  .start-trip_title {
    font-size: 5rem !important;
  }

  .start-trip_text-ctn > a {
    font-size: 2rem !important;
    padding: 0.7rem 3rem !important;
  }
}
